body {
  padding: 0;
  text-align: center;
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.keys{
  width: 150px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin: auto;
}

.key{
  width: 32%;
  height: 46%;
  background-color: #ccc;
  border-radius: 4px;
  color: #ddd;
  display:flex;
  justify-content: center;
  align-items: center;
}
.up-row{
  width: 100%;
  height: 46%;
  display: flex;
  justify-content: center;
}

.up{
  height: 100%;
}

.active{
  background-color: #000;
  color: #fff;
}

.pushed{
  color: #ccc;
  background-color: #333;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    float: left;
    padding: 20px 0px;
}
